*{
    padding: 0;margin: 0; box-sizing: border-box;
}
.navbar{
    padding: 2px;
}
.card-img-top{
    width: 30vw;
    height: 50vh;
    padding: 20px;
}
.card-img-top-product{
    height: 50vh;
}
.card-text{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient :vertical;
    overflow: hidden;
}
#noPrice{
    display: none;
}
#havePrice{
    display: block;
}
.df{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dfc{
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: space-between; 
}
.cartH{
    height: 100vh;
}
.dfr{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55vh;
    margin-top: 5px;
    padding: 5px 50px;
    justify-content: space-between;
}
.main-header {
    background-color: #2F435A;
}
.navProduct{
    display: block;
}
.noNavProduct{
    display: none;
}
.cart-img{
    width: 50%;
}
.cart-titleW{
    width: 40%;
}
.cart-df{
    display: flex;
    border: 1px solid rgb(27, 26, 26);
    justify-content: space-between;
    margin-bottom: 30px;
}
.cart-mobile{
    width: 75%;
    /* height: 100vh; */
}
.buy-mobile{
    width: 25%;
}
@media (max-width:768px) {
    .navProduct{
        display: none;
    }
    .noNavProduct{
        display: block;
    }
    .card-img-top-product, .card-img-top{
        padding: 20px;
        width: 100%;
    }
    .dfr{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .dfc{
        height: 50vh;
    }
    .pm-0{
        padding: 0;
        margin: 0;
    }
    .cart-img{
        width: 100%;
    }
    .cart-titleW{
        width: 100%;
    }
    .cart-df{
        width: 100%;
    flex-direction: column-reverse;
    }
    .buy-mobile{
        display: none;
        width: 100%;
    }
    .cart-mobile{
        height: 100vh;
    }
}