*{
    padding: 0;margin: 0; box-sizing: border-box;
}
.navbar{
    padding: 2px;
}
.card-img-top{
    width: 30vw;
    height: 50vh;
    padding: 20px;
}
.card-img-top-product{
    height: 50vh;
}
.card-text{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient :vertical;
    overflow: hidden;
}
#noPrice{
    display: none;
}
#havePrice{
    display: block;
}
.df{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dfc{
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: space-between;
    
}
.dfr{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    width: 70vw;
    /* align-items: center; */
    margin-top: 5px;
    padding: 5px 50px;
    justify-content: space-between;
}
.main-header {
    background-color: #2F435A;
}
.navProduct{
    display: block;
}
.noNavProduct{
    display: none;
}
@media (max-width:768px) {
    .navProduct{
        display: none;
    }
    .noNavProduct{
        display: block;
    }
    .dfr{
        width: 100vh;
        flex-direction: column;
    }
}